/* default.css */

/*

font-family: 'Roboto', sans-serif;

*/

@font-face {
    font-family: NanumBarunGothic;
    src: url(/font/NanumBarunGothic.ded8913e.eot);
    src: url(/font/NanumBarunGothic.ded8913e.eot?#iefix) format("embedded-opentype"), url(/font/NanumBarunGothic.1dbbada4.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: NanumBarunGothic;
    src: url(/font/NanumBarunGothicUltraLight.c04e8b2a.eot);
    src: url(/font/NanumBarunGothicUltraLight.c04e8b2a.eot?#iefix) format("embedded-opentype"), url(/font/NanumBarunGothicUltraLight.446d7588.woff) format("woff");
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'TmonMonsori';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 10px !important;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

button {
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border: none;
}

input[type="text"]::placeholder {
    color: #aeaeae;
}

input[type="button"] {
    cursor: pointer;
}

select {
    border: 1px solid #d1d1d1;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

textarea {
    width: 100%;
}

.container {
    max-width: 1570px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.sub-container {
    max-width: 1920px;
    margin: 0 auto;
}

.content {
    max-width: 1420px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

/* align */

.align-left {
    text-align: left !important;
}

.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

.align-middle {
    vertical-align: middle !important;
}

.align-top {
    vertical-align: top !important;
}

.align-bottom {
    vertical-align: bottom !important;
}

/* display */

.block {
    display: block
}

.in-block {
    display: inline-block;
}

/* width */

.width-10 {
    width: 10% !important;
}

.width-15 {
    width: 15% !important;
}

.width-20 {
    width: 20% !important;
}

.width-25 {
    width: 25% !important;
}

.width-30 {
    width: 30% !important;
}

.width-35 {
    width: 35% !important;
}

.width-40 {
    width: 40% !important;
}

.width-45 {
    width: 45% !important;
}

.width-50 {
    width: 50% !important;
}

.width-55 {
    width: 55% !important;
}

.width-60 {
    width: 60% !important;
}

.width-65 {
    width: 65% !important;
}

.width-70 {
    width: 70% !important;
}

.width-75 {
    width: 75% !important;
}

.width-80 {
    width: 80% !important;
}

.width-85 {
    width: 85% !important;
}

.width-90 {
    width: 90% !important;
}

.width-95 {
    width: 95% !important;
}

.width-100 {
    width: 100% !important;
}

/* font */

.font-0 {
    font-size: 0;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}

/* background */

.bg-img {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.mg-auto {
    margin: 0 auto;
}


.ct-wrap {
    background: #f0f1f4;
}

.ct-bg {
    background: #fff;
}

.empty {
    text-align: center;
    font-size: 16px;
    color: #3a3a3c;
}

.page-bg {
    background: #eaeaea;
}

.mg-auto {
    margin: 0 auto;
}

.up-rd {
    color: #d31a2c;
}

.down-bl {
    color: #054ab4;
}

.pr-Up {
    color: #ff3b30 !important;
}

.pr-Down {
    color: #3c67ff !important;
}